* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial,Tahoma,"hiragino sans gb",Helvetica;
}

.like:hover {
  background: url(player_bg.png);
  background-position: 0 -145px;
}

.share:hover {
  background: url(player_bg.png);
  background-position: -16px -145px;
}

.before:hover {
  background: url(player_bg.png);
  background-position: -69px -32px;
}

.play:hover {
  background: url(player_bg.png);
  background-position: -105px -42px;
}

.next:hover {
  background: url(player_bg.png);
  background-position: -147px -32px;
}

.cycle:hover {
  background: url(player_bg.png);
  background-position: -219px -32px;
}

.shunxu:hover {
  background: url(player_bg.png);
  background-position: -408px -22px;
}

.suiji:hover {
  background: url(player_bg.png);
  background-position: -408px -66px;
}

.danqu:hover {
  background: url(player_bg.png);
  background-position: -376px -22px;
}

.liebiao:hover {
  background: url(player_bg.png);
  background-position: -376px -66px;
}

.mute:hover {
  background: url(player_bg.png);
  background-position: -189px -35px;
}

.b_sound:hover {
  background: url(player_bg.png);
  background-position: -291px -11px;
}

.sound:hover {
  background: url(player_bg.png);
  background-position: -291px 0;
}

.circle:hover {
  background: url(player_bg.png);
  background-position: -366px 0;
}

.list_show:hover {
  background: url(player_bg.png);
  background-position: -222px -97px;
}

.lrc:hover {
  background: url(player_bg.png);
  background-position: -452px 0;
}

.bar_circle:hover {
  background: url(player_bg.png);
  background-position: -376px -44px;
}

.m_right:hover {
  background: url(player_bg.png);
  background-position: 0 0;
}

.xia:hover {
  background: url(player_bg.png);
  background-position: -504px -28px;
}

.like {
  background: url(player_bg.png);
  background-position: 0 -127px;
}

.share {
  background: url(player_bg.png);
  background-position: -16px -127px;
}

.before {
  background: url(player_bg.png);
  background-position: -69px 0;
}

.play {
  background: url(player_bg.png);
  background-position: -105px 0;
}

.next {
  background: url(player_bg.png);
  background-position: -147px 0;
}

.cycle {
  background: url(player_bg.png);
  background-position: -219px 0;
}

.shunxu {
  background: url(player_bg.png);
  background-position: -408px 0;
}

.suiji {
  background: url(player_bg.png);
  background-position: -408px -44px;
}

.danqu {
  background: url(player_bg.png);
  background-position: -376px 0;
}

.liebiao {
  background: url(player_bg.png);
  background-position: -376px -44px;
}

.mute {
  background: url(player_bg.png);
  background-position: -189px -3px;
}

.b_sound {
  background: url(player_bg.png);
  background-position: -291px -11px;
}

.sound {
  background: url(player_bg.png);
  background-position: -291px 0;
}

.circle {
  background: url(player_bg.png);
  background-position: -366px 0;
}

.list_show {
  background: url(player_bg.png);
  background-position: -222px -97px;
}

.lrc {
  background: url(player_bg.png);
  background-position: -452px 0;
}

.bar_circle {
  background: url(player_bg.png);
  background-position: -376px -44px;
}

.m_right {
  background: url(player_bg.png);
  background-position: 0 0;
}

.xia {
  background: url(player_bg.png);
  background-position: -504px -28px;
}

@keyframes touming {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.m_play .touming {
  animation: touming .4s ease both;
}

.m_play {
  width: 563px;
  height: 115px;
  position: absolute;
  left: 0;
  bottom: 30px;
  background: #383838;
  box-shadow: 3px 3px 6px RGBA(0, 0, 0, 0.42);
  border-radius: 4px;
}

.m_play .m_list {
  transition: opacity .4s ease;
  opacity: 1;
  background: #1b1b1b;
  position: absolute;
  left: 0;
  top: -507px;
  width: 541px;
  height: 507px;
  box-shadow: 3px 3px 6px RGBA(0, 0, 0, 0.42);
}

.m_play .m_list .list_h {
  width: 541px;
  height: 52px;
  position: absolute;
  left: 0;
  top: 0;
  background: #000;
  border-bottom: 1px solid #262626;
  z-index: 10;
}

.m_play .m_list .list_h h1 {
  width: 112px;
  height: 52px;
  float: left;
  font-size: 18px;
  color: #fff;
  background: #262626;
  cursor: default;
  line-height: 52px;
  text-align: center;
  font-weight: bold;
  position: relative;
}

.m_play .m_list .list_h h1 .xia {
  width: 15px;
  height: 8px;
  position: absolute;
  top: 52px;
  left: 48px;
  z-index: 100;
}

.m_play .m_list .list_h h2 {
  width: 48px;
  height: 18px;
  font-size: 12px;
  color: #999999;
  position: absolute;
  right: 30px;
  top: 17px;
  cursor: default;
  font-weight: normal;
  z-index: 20;
}

.m_play .m_list .list_h span {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
  background: url(player_bg.png);
  background-position: -270px -115px;
}

.m_play .m_list .list_h span:hover {
  background-position: -270px -95px;
}

.m_play .m_list ul {
  width: 541px;
  height: 456px;
  position: absolute;
  left: 0;
  top: 53px;
  background: #1b1b1b;
  overflow: auto;
}

.m_play .m_list ul li {
  width: 549px;
  height: 24px;
  color: #999999;
  padding-top: 10px;
  cursor: pointer;
  padding-left: 20px;
  font-size: 12px;
}

.m_play .m_list ul li span {
  line-height: 24px;
  width: 180px;
  height: 24px;
  display: block;
  float: left;
  text-align: center;
}

.m_play .m_list ul li span:nth-child(1) {
  text-align: left;
}

.m_play .m_b {
  width: 541px;
  height: 115px;
  background: #383838;
  position: absolute;
  top: 0;
  left: 0;
}

.m_play .m_b .m_left {
  float: left;
  width: 541px;
  height: 111px;
  background: #000;
  position: relative;
}

.m_play .m_b .m_left .m_img {
  width: 90px;
  height: 90px;
  margin: 10px;
  float: left;
  cursor: pointer;
}

.m_play .m_b .m_left .m_particular {
  width: 300px;
  height: 100px;
  float: left;
}

.m_play .m_b .m_left .m_particular p, .m_play .m_b .m_left .m_particular ul {
  margin-top: 5px;
  height: 20px;
  font-size: 12px;
  color: #999999;
  line-height: 20px;
}

.m_particular p span {
  color: #fff;
  float: left;
  margin-left: 5px;
}

.m_particular p span:nth-child(2) {
  display: block;
  width: 75px;
  height: 20px;
  background: url(player_bg.png);
  background-position: -453px -55px;
}

.m_particular ul li {
  width: 16px;
  height: 15px;
  float: left;
  margin-left: 10px;
}

.m_button {
  width: 280px;
  height: 42px;
  position: absolute;
  right: 20px;
  top: 35px;
}

.m_button div {
  float: left;
  cursor: pointer;
}

.m_button .play {
  width: 42px;
  height: 42px;
  margin-left: 3px;
}

.m_button .cycle {
  position: relative;
}

.m_button .before, .m_button .next, .m_button .cycle {
  width: 36px;
  height: 28px;
  margin-left: 3px;
  margin-top: 7px;
}

.m_button .before .yc, .m_button .next .yc, .m_button .cycle .yc {
  display: none;
  width: 32px;
  height: 98px;
  background: #383838;
  position: absolute;
  left: 2px;
  bottom: 1px;
  border-radius: 4px;
}

.m_button .before .yc .shunxu, .m_button .before .yc .suiji, .m_button .before .yc .danqu, .m_button .before .yc .liebiao, .m_button .next .yc .shunxu, .m_button .next .yc .suiji, .m_button .next .yc .danqu, .m_button .next .yc .liebiao, .m_button .cycle .yc .shunxu, .m_button .cycle .yc .suiji, .m_button .cycle .yc .danqu, .m_button .cycle .yc .liebiao {
  margin-top: 2px;
  width: 32px;
  height: 22px;
}

.m_button .shengyin {
  width: 100px;
  height: 24px;
  margin-top: 10px;
  margin-left: 8px;
  float: left;
}

.m_button .shengyin .mute {
  width: 24px;
  height: 24px;
  float: left;
}

.m_button .shengyin .b_sound {
  width: 71px;
  height: 11px;
  margin-top: 5px;
  margin-left: 5px;
  position: relative;
}

.m_button .shengyin .b_sound .sound {
  width: 71px;
  height: 11px;
}

.m_button .shengyin .b_sound .circle {
  width: 6px;
  height: 11px;
  position: absolute;
  left: 71px;
  top: 0;
}

.m_button .zanting {
  width: 42px;
  height: 42px;
  margin-left: 3px;
  background: url(player_bg.png);
  background-position: -291px -88px;
}

.m_button .zanting:hover {
  background-position: -333px -88px;
}

.m_button .shengyin .jingyin {
  background-position: -152px -63px;
}

.m_button .shengyin .jingyin:hover {
  background-position: -189px -63px;
}

.m_button .dq {
  background: url(player_bg.png);
  background-position: -255px 0;
}

.m_button .dq:hover {
  background-position: -255px -32px;
}

.m_button .sj {
  background: url(player_bg.png);
  background-position: -327px -32px;
}

.m_button .sj:hover {
  background-position: -327px -60px;
}

.m_button .sx {
  background: url(player_bg.png);
  background-position: -291px -32px;
}

.m_button .sx:hover {
  background-position: -291px -60px;
}

.list_show {
  width: 47px;
  height: 28px;
  position: absolute;
  top: 0;
  right: 30px;
  cursor: pointer;
}

.list_show span {
  color: #fff;
  float: right;
  margin-right: 7px;
  margin-top: 6px;
}

.lrc {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.bj {
  width: 541px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.bj .right {
  width: 0;
  height: 4px;
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 0;
  background: #0CC65B;
}

.bj .right .r_c {
  width: 7px;
  height: 6px;
  position: absolute;
  left: 100%;
  top: -1px;
  background: #fdd;
  border-radius: 50%;
}

.m_right {
  width: 10px;
  height: 113px;
  padding: 1px 6px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.bianse {
  color: #6be493;
}

.m_button .cycle .chuxian {
  display: block;
}
